@font-face {
  font-family: 'Rabelo';
  font-style: normal;
  font-weight: normal;
  src: url('../../../public/font/Rabelo.eot');
  src: url('../../../public/font/Rabelo.eot?#iefix') format('embedded-opentype'),
    url('../../../public/font/Rabelo.woff2') format('woff2'),
    url('../../../public/font/Rabelo.woff') format('woff'),
    url('../../../public/font/Rabelo.ttf') format('truetype');
}


