@import 'src/style/base.scss';

.logoWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.logo {
  width: 60%;
  margin: 0 auto;
}

.title {
  @include header2;
  margin: 0 auto;
  color: $red;

  @include md {
    width: 60%;
  }
}

.image {
  width: 100%;
}
