@import 'src/style/base.scss';

.logoWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.logo {
  width: 60%;
  margin: 0 auto;
}

.title {
  margin: 6rem auto 4rem;
  color: $red;
  @include header2;

  @include md {
    width: 85%;
    text-align: center;
  }
}

.image {
  width: 100%;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 0;

  @include md {
    flex-direction: row;
  }
}
