@import 'src/style/base.scss';

.sponsorWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 0;
  opacity: 0;
  transform: translateY(30%);
  transition: transform 1s, opacity 1s;

  @include md {
    flex-direction: row;
  }
}

.link {
  display: flex;
  flex-basis: 25%;
  flex-shrink: 0;
  justify-content: center;

  opacity: 1;
  transition: opacity $duration-1;

  &:hover {
    opacity: 0.8;
  }

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  @include md {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

}

.sponsors {
  display: block;
  width: auto;
  width: 100%;
  // max-width: 5rem;
  height: auto;
  max-height:20rem;

  flex-shrink: 0;

  @include md {
    &:last-child {
      height: 4rem;
      object-fit: contain;
    }
  }

  @include lg {
    &:last-child {
      height: 12rem;
      object-fit: contain;
    }
  }

  @include md {
    // max-width: 20rem;
  }
}

.scienceFond {
  width: 100%;
  // max-width: 12rem;

  @include md {
    max-width: 30rem;
  }
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}
